@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}

body {

    font-family: 'Roboto';
    font-size: 22px;

}

#interim {

    opacity: 0.5;

}

h1{
  text-align: center;
  margin: 5% 0%;
}

.subTitle{
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 2%;
  text-decoration: underline;
}

.container{
  display: flex;
  flex-flow: row wrap;
}

.transcriptionText{
  border: solid 1px #0074D9;
  padding: 2% 1%;
  margin: 0.33% 1%;
  border-radius: 4px;
  width: 68%;
  float: left;
}

.instructions{
  margin: 0% 1%;
  padding: 1%;
  border-radius: 4px;
  width: 22%;
  float: left;
  font-size: 0.8em;
  background-color: #DDDDDD;
}

li{
  list-style-type: none;
  padding: 1.5% 0%;
}

li a{
  padding: 2%;
  margin: 1% 0%;
  border-radius: 4px;
  background-color: #0074D9;
  border-color: #fff;
  border: 2px;
  color: #fff;
  display: block;
  text-decoration: none;
  text-align: center;
}

a:hover{
  color: #0074D9;
  background-color: #fff;
}

.downloadButton{
  display: inline-block;
  padding: 1%;
  text-align: center;
  margin: 0% 1%;
}

a:hover.downloadButton{
  color: #0074D9;
  background-color: #fff;
  border-color: #0074D9;
  border: 1px solid;
}
